server:
  port: 8071

spring:
  application:
    name: configserver
  profiles:
    active: git
#    active: native
  cloud:
    config:
      server:
        git:
          uri: https://github.com/eazybytes/eazybytes-config.git
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true
#        native:
##          search-locations: "classpath:/config"
#          search-locations: "file:///C:/Users/Raphael/OneDrive/Documents/config/"

